.Card {
  background: #ffffff;
  border-radius: 8px;
  border: 4px solid #2c8080;
  color: #2c8080;
  width: 300px;
}

.cancel-btn {
  background: #2c8080;
  color: #ffffff;
  width: 75%;
  margin: 5px;
  height: 25px;
  border-radius: 3px;
  font-size: 14px;
}